*.txt


*.o

*.ppu
*.res
*.a

logger.log

FlyTracker
FlyTracker.exe
FlyTracker.app/

.DS_Store

lib/
backup/

myIT.it
test
test.exe

client
server
client.exe

test.it
mySample.wav
mySong.it

tralala-emergency*